<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/team">
	<h2>Team</h2>
	<p>Name:<input type="text" name="team[name]"></p>
	<p>Motto:<input type="text" name="team[motto]"></p>
	<h2>Heros</h2>
	<h3>Hero 1</h3>
	<p>Name:<input id="member1_name" type="text" name="team[members][][name]"></p>
	<p>Power:<input id="member1_power" type="text" name="team[members][][power]"></p>
	<p>Bio:<input id="member1_bio" type="text" name="team[members][][bio]"></p>
	<h3>Hero 2</h3>
	<p>Name:<input id="member2_name" type="text" name="team[members][][name]"></p>
	<p>Power:<input id="member2_power" type="text" name="team[members][][power]"></p>
	<p>Bio:<input id="member2_bio" type="text" name="team[members][][bio]"></p>
	<h3>Hero 3</h3>
	<p>Name:<input id="member3_name" type="text" name="team[members][][name]"></p>
	<p>Power:<input id="member3_power" type="text" name="team[members][][power]"></p>
	<p>Bio:<input id="member3_bio" type="text" name="team[members][][bio]"></p>
	<input type="submit" id="submit">
</form>